<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Projet Data
  </h1>
</div>
<nav>
  <a routerLink="/entreprise" routerLinkAcive="active">Entreprises</a>
  <a routerLink="/dakar" routerLinkAcive="active">dakar</a>
  <a routerLink="/pikine" routerLinkAcive="active">pikine</a>
  <a routerLink="/guediawaye" routerLinkAcive="active">guediawaye</a>
  <a routerLink="/rufisque" routerLinkAcive="active">rufisque</a>
 
</nav>


<router-outlet></router-outlet>
