<ul class="items" *ngFor = "let data of httpdata" >
    <li *ngIf="data.SecteurActivite ==='COMMERCE'|paginate: { itemsPerPage: 10, currentPage: p } "  (click)="onSelect(data)"  [class.selected]="isSelected(data)" >
   <span class="badge"> {{data.id}} </span> Denomination : {{data.Denomination}}  Secteur d'activite : {{data.SecteurActivite}}</li> 
    
</ul>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<!-- |paginate: { itemsPerPage: 10, currentPage: p }; let i = index -->